*.log
*.pdb
*.pdb
*.cache
/DesktopServer/DesktopServerLogical/bin
/DesktopServer/DesktopServerLogical/obj
/DesktopServer/DesktopServer/bin
DesktopServer/DesktopServer/obj/*
/DesktopServer/DesktopServer/obj/Debug
DesktopServer/DesktopServer/bin/Debug/DesktopServer.exe
GrepitRemoteController/.vs/
GrepitRemoteController/GrepitRemoteController/obj/*
GrepitRemoteController/GrepitRemoteController/bin/*
GrepitRemoteController/GrepitRemoteController/GrepitRemoteController.csproj.user
DesktopServer/.vs/DesktopServer/v14/.suo
DesktopServer/DesktopServer.VC.VC.opendb
DesktopServer/DesktopServer.VC.db
DesktopServer/.vs
DesktopServer/DesktopServerLogical/configurations.mdf
DesktopServer/DesktopServerLogical/configurations_log.ldf
